<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>

<body>
<div style=" border-radius: 20px;
    height: 117px;
    border: solid grey;
    width: 310px;
    padding-top: 15px;
    margin: 20% 35%;
    background-color: white;
    padding-left: 20px;">
    <form method="post">
        <label>username</label>
        <input type="text" placeholder="Enter email" name="email" required><br>
        <label>password</label>
        <input type="password" placeholder="Enter password" name="password" required>
        <button name="login" type="submit" onclick="login()">Login</button>
    </form>
    <form action="/register">
        <button type="submit">Register</button>
    </form>

</div>
</body>
<script>
    function login() {
        let user = {
            email: document.getElementById("email").value,
            password: document.getElementById("password").value,
        }
        user = JSON.stringify(user)
        console.log(user)

        fetch('/users', {
            method: 'GET'
        })
            .then(function (response) {
                console.log(response.json())
                return response
            })
            .catch(function (error) {
                console.error(error)
            })
    }
</script>
</html>