<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>

<body>
<div style=" border-radius: 20px;
    height: 117px;
    border: solid grey;
    width: 310px;
    padding-top: 15px;
    margin: 20% 35%;
    background-color: white;
    padding-left: 20px;">
    <label>username</label>
    <input type="text" placeholder="Enter email" id="email" required><br>
    <label>password</label>
    <input type="password" placeholder="Enter password" id="password" required>
    <button name="login" type="submit" onclick="login()">Login</button>
    <button type="submit">Register</button>
</div>
</body>
<script>
    function login() {
        let user = {
            email: document.getElementById("email").value,
            password: document.getElementById("password").value
        }
        fetch('/', {
            method: 'POST', body: JSON.stringify(user), headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(function (response) {
                location.href = "/backend/users"
                return response
            })
            .catch(function (error) {
                console.error(error)
            })
    }
</script>
</html>