<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style=" border-radius: 20px;
    height: 150px;
    border: solid grey;
    width: 310px;
    padding-top: 15px;
    margin: 20% 35%;
    background-color: white;
    padding-left: 20px;">
    <form class="form" id="register">
        <label>FirstName</label>
        <input type="text" placeholder="Enter FirstName" id="first_name" required><br>
        <label>LastName</label>
        <input type="text" placeholder="Enter LastName" id="last_name" required><br>
        <label>password</label>
        <input type="password" placeholder="Enter password" id="password" required><br>
        <label>Email</label>
        <input type="text" placeholder="Enter email" id="email" required><br>
        <label>Date of Birth</label>
        <input type="date" placeholder="Enter Date" id="date_of_birth" required><br>
        <button name="register" type="submit">Register</button>
    </form>
</div>
<script>
    const myForm = document.getElementById('register');
    myForm.addEventListener('submit', function (e) {
        e.preventDefault();
        let user;
        user = {
            first_name: document.getElementById("first_name").value,
            last_name: document.getElementById("last_name").value,
            password: document.getElementById("password").value,
            email: document.getElementById("email").value,
            date_of_birth: document.getElementById("date_of_birth").value
        }
        fetch('/backend/backend/users', {
            method: 'POST', body: JSON.stringify(user), headers: {
                'Content-Type': 'application/json'
            }})
            .then(function (response) {
                return response
            })
            .catch(function (error) {
                console.error(error)
            })
        location.href = "/"
    })
</script>
</body>
</html>